@page
@model CreatePerson

@{
    ViewData["Title"] = "Add Person";
}

<div>
    <p>Enter a person data:</p>
    
    <form method="post">
        First Name:
        <input asp-for="PersonView!.FirstName" /><br>
        Last Name:
        <input asp-for="PersonView!.LastName" /><br>
        Description:
        <input asp-for="PersonView!.Description" /><br>
        <input type="submit" />
    </form>
    
</div>
