@page "{id:int}"
@model MyWebApp.Pages.CrUDs.EditPerson

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit Person data</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <input type="hidden" asp-for="PersonView!.Id" /> *@
            <div class="form-group">
                <label asp-for="PersonView!.FirstName" class="control-label"></label>
                <input asp-for="PersonView!.LastName" class="form-control" />
                <input asp-for="PersonView!.Description" class="form-control" />
                @* <span asp-validation-for="PersonView!.Name" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

